body {
  background-image: url("/src/praia-amieira.jpeg");
  background-size: cover;
  background-attachment: fixed;
}

.section {
  width: 70%;
  background-color: white;
  margin: 40px auto;
  padding: 45px;
}

header h1 {
  font-size: 120px;
}

header .owner-info {
  border: 1px solid slategray;
  margin: 35px 0px;
}

header p {
  text-align: justify;
}

.card-header img {
  width: 100px;
}
